

h1{
    font-size:3rem;
    color:rgb(53, 180, 202);
    text-shadow: 2px 5px 2px grey;
    letter-spacing: 0rem;
}

.register-container{
    background-color: rgba(141, 150, 128, 0.205);
    height:100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    form{
      
        width:50%;
        height:30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        input{
            width:40%;
            height:5vh;
        }

        button{
            width:20%;
        }
    }
}