.App {
  text-align: center;
}
*/

/* Navigation  */
.nav {
  margin-bottom: 25px;

  
}

.article-title{
  background-color: rgba(141, 150, 128, 0.205);
}

.nav-button {
  display: flex;
  justify-content: flex-end;
 
  transition: 0.2s ease-in;
  position: relative;
  bottom:80%;
 
  color: rgb(53, 180, 202) !important;
}

.button {
  background-color: rgb(53, 180, 202) !important;
}
.title {
  text-align: left;
}

/* Article List Component CSS */
.article-div {
  margin:2%;
  border-style: solid;
  border-width: 0.5px;
  background-color: rgba(141, 150, 128, 0.205);
  
}

.article-div:hover{
  background-color:rgba(53, 180, 202, 0.61);
  transform: scale(1.1);
}



.add-text{
  font-size:2rem;
  color:rgb(53, 180, 202);
  font-weight:200;
  text-shadow: 1px 1px 2px #756C83;
  margin:1%;
}
   .add-text:hover{
    color:white;
      
      
      transform: scale(1.1);
    
   }

   Button{
     font-size:1rem !important;
     color:black !important;
   }

   Button:hover{
     color:white !important;
   }

   .icon{
   color:#756C83;
   
  }

  .app-bar{
    background-color: rgba(141, 150, 128, 0.205) !important;
    
    height:18vh !important;
  }

  .nav-h1{
    text-shadow: 3px 2px 2px #756C83;
    color:rgb(53, 180, 202);
    text-shadow: 1px 1px 2px #756C83;
  }

  .buttons-nav{
    color:rgb(53, 180, 202) !important;
  }

  h1{
    text-shadow: 3px 2px 2px white!important;
  }


