.App {
  text-align: center;
}
*/

/* Navigation  */
.nav {
  margin-bottom: 25px;
}

.nav-button {
  display: flex;
  justify-content: flex-end;
  padding: 0 100px;
  transition: 0.2s ease-in;
  margin-bottom: 40px;
  color: red;
}

.button {
  background-color: red;
}
.title {
  text-align: left;
}

/* Article List Component CSS */
.article-div {
  margin: 0px 50px;
  border-style: solid;
  border-width: 0.5px;
  background-color: #e6e6e6;
}

.article-title h1 {
  font-size: 50px;
}
